

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;  
    scroll-behavior: smooth;
}
body {
   background-color: darkgray;
}
.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-box {
    margin-top: 20px;
    width: 400px;
    height: 60px; 
    display: flex;
    align-items: center;
}


.search-box input {
    width: 80%; 
    height: 100%; 
    padding: 10px; 
    
}

.search-box button {
    height: 100%; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.search-box button:hover {
    background-color: #0056b3; 
}




.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}


.content{
    margin-bottom: 100px;
}

nav {
    height: 150px;
    width: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9tCrOTDpOOB7OqOSysxduWTTVfi9AjKm9zw&s');
    
    

}

.logo {
    cursor: pointer;
    width: 200px;
   
    padding: 30px 10px;
}

nav ul {
    float: right;
   


}

nav ul li {
    display: inline-block;
    line-height: 150px;
    margin: 0px 15px;
    padding: 0px 15px;
    
}


nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-left: 20px;
    line-height: 33px;



    
}

.active {
    opacity: 1;
    font-size: 30px;
}
.turn{
    font-size: 30px;
    
}



.animemovie{
    font-size:30px ;
}

.active,
li a:hover {
    opacity: 0.8;
    background: #c4c4c4;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



main{
    margin-top: 150px;
}

.content{
    width: 65%;
    float: left;
    
}

.content h1{
    
    border-bottom: #2c3e50 1px solid;
}

.anime{
    font-family: 'poppins', sans-serif;
    background-color: rgb(249, 246, 246);
    margin-bottom: 20px;
    
}


.wrapper{
    margin-top: 30px;
    
}

.peace{
    margin-top: 35px;
    
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(235, 228, 228);
   
}



.anim{
width: 95%;
display: flex;
align-items: center;
}

.anim p{
    font-weight: 500;
    font-size: 14px;
    color: rgb(7, 7, 7);
}

.anim > img{
    transition: transform 200ms;
}

.anim:hover > img{
    transform: scale(1.05);
}


 

.peace img{
    float: left;
    box-shadow: 0px 0px 10px #233648;
}


.peace img:hover{
    cursor: pointer;
}

.desc{
    float: left;
    margin-left: 20px;
}


.deskripsi{
    margin-bottom: 5px;
}

.desc h3{
    cursor: pointer;
}


.desc h3:hover{
    color: #2c3e50;
    transition: 100ms;
}

footer{
   
background-color: black;
height: 200px;
margin-top: 120px;
}



footer h1{
    text-align: center;
    color:#c4c4c4
    }

aside{
    width: 32%;
    float: right;
    background-color: rgb(249, 246, 246);
   
}
  

.top-anime{
    
    border-bottom: #2c3e50 1px solid;
}

.desc-aside{
    float: left;
    margin-left: 20px;
}




.desc-aside h3{
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
}

.desc-bottom p{
    font-size: 14px;
    
    color: rgb(7, 7, 7);
}

.top{
    display: flex;
    align-items: center;
}
.rating{
    color: rgb(3, 145, 211);
}

.top > img{
    transition: transform 200ms;
}

.top:hover > img{
    transform: scale(1.05);
}
.head{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ddd;
    background-color: rgb(249, 246, 246);
}





picture > img{
    transition: transform 200ms;
}

picture:hover > img{
    transform: scale(1.05);
}

.detail p{
    margin-left: 20px;
    
}

.detail b{
    cursor: pointer;
}





section{
    width: 100%;
    height: 600px;
    display: flex;
    overflow: auto;
    background-color: rgb(249, 246, 246);
}

section .product{
    min-width: 24%;
    height: 100%;
    background-color: rgb(235, 228, 228);;
    margin: 20px ;
    border-radius: 15px;
}
.rating p{
    font-family: 'poppins', sans-serif;
}


picture{
    width: 100%;
    height: 70%;
    padding: 20px;
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}
picture img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px ;
    box-shadow: 0px 0px 10px #233648;
}




